<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BddClient.Properties.Settings.vpcConnectionString" connectionString="Data Source=STA6101380\SQLEXPRESS;Initial Catalog=vpc;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="BddClient.Properties.Settings.VPCConnectionString1" connectionString="Data Source=DESKTOP-8JQ5N7I\SQLEXPRESS;Initial Catalog=VPC;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
